<div class="container mt-5">
    <div class="text-center mt-3 text-muted">
        <small>
            Azure EasyAuth emulator | 
            <a href="#" class="text-decoration-none">Contribute</a> | 
            <a href="#" class="text-decoration-none">Documentation</a> | 
            <a href="#" class="text-decoration-none">Privacy & Cookies</a> | 
            <a href="#" class="text-decoration-none">Terms of Use</a> | 
            &copy; Aliencube 2025
        </small>
    </div>
</div>
